/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:			#1da1f2
tlačítko Twitter aktivní:	#0b7bc1

tlačítko Facebook:			#3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {background-color:#b2bec3;
}

.box {background-color: white;
    border-radius: 10px;
    width: 550px;
    margin-top: 150px;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);

}

img {width: 150px;
height: 150px;
border: 3px solid white;
border-radius: 50%;
position:absolute;
top: -75px;
right:-75px;
}

h1 {color:#d63031;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    margin:0;
padding-bottom: 30px; }

p {padding-bottom: 30px;
    margin:0;
    font-family: 'Nunito', sans-serif;
font-size: 18px;}

.twitter {background-color:#1da1f2;
font-size: 18px;
width:100%;
padding: 10px;
border-radius: 5px;
margin-bottom: 5px;
text-align: center;
}

.facebook {background-color:#3b5998;
    font-size: 18px;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    }

a {color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.facebook:hover {background-color: #2b406e;}
.twitter:hover {background-color: #0b7bc1;}